.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.description {
  opacity: 0.8;
}
